<!DOCTYPE html>
<html>
    <head>
        <title>
            Shops
        </title>
    </head>
    <body>
        <h1>Shops</h1>

        <ul>
            <% @shops.each do |shop| %>
                <li><a href="/shops/<%= shop.id %>"><%= shop.name %></a></li>
            <% end %>
        </ul>
       <a href="/shops/new">Make a new Shop!</a>

    </body>
</html>