<!Doctype html>
<html>
	<head>
		<title><%=@shop.name%></title>
	</head>
	<body>
		<h1><%=@shop.name%></h1>
		<p><%=@shop.location%></p>
		<form action="/shops/<%=@shop.id%>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<input type="submit" value="Delete this shop">
		</form>
		<a href="/shops">Go back to Home Page</a>
	</body>
</html>