<!DOCTYPE html>
<html>
    <head>
        <title>Make A New Ice Cream</title>
    </head>
    <body>
        <h1>Make a New Ice Cream</h1>

        <form action='/icecreams' method='POST'>
            <label for="flavor">Flavor: </label>
            <input type='text' name="flavor">
            <label for="brand">Brand: </label>
            <input type='text' name="brand">
            <label for="price">Price: </label>
            <input type='text' name="price">
            <input type="submit" name="submit">
        </form>
    </body>
</html>