<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
    </head>

    <body>
        <h1>About Us</h1>

        <p>We are passionate about our ice cream business. We want you to know what flavors we have, what brands we have, and 
            what shops carry those ice creams.</p>
        
        <a href="/">Back to Home Page</a>
    </body>
</html>