<!DOCTYPE html>
<html>
    <head>
        <title>Welcome!!!!!!!!!!!!!!</title>
    </head>
    <body>
        <h1>WELCOME</h1>

        <a href="/icecreams">Ice Creams</a>
        <a href="">Shops</a>
        <a href="">Relationships</a>

    </body>
</html>